.list {
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

img {
    max-height: 80%;
    max-width: 60%;
    align-self: center;
}

p{
    align-self: center;
    
}