.list {
    width: 100%;
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 80%;
    max-width: 60%;
    align-self: center;
}

p {
    align-self: center;  
}

.containerCenter{
    align-content: center;
    justify-content: center;
}